html {
    background-image: linear-gradient(#1C242D, #222B34);
    font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}

td {
    vertical-align: baseline;
}

a {
  color:inherit;
  text-decoration: none;
}

.top-header {
    text-align: center;
    color: white;
    font-weight: normal;
}

.repos-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

.builds-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

.top-row {
    font-size: 12px;
    color: white;
}

.repos-table-row {
    color: #a9cf54;
}

.builds-table-row {
    color: #a9cf54;
}

.avatar-thumbnail {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    padding-right: 20px;
}